:root {
  --white: #ffffffff;
  --rich-black: #00171fff;
  --prussian-blue: #003459ff;
  --cerulean: #007ea7ff;
  --picton-blue: #00a8e8ff;
  interpolate-size: allow-keywords;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  margin-bottom: 20px;
  background: #f1f1f1;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: var(--picton-blue);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--cerulean);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
  outline: none;
}

.display {
  display: none !important;
}

.visibility {
  visibility: hidden !important;
}

.expanded {
  padding: 5px;
  height: fit-content !important;
}

.footerBorder {
  border-top: 2px solid var(--rich-black) !important;
}

body {
  background-color: var(--prussian-blue);
  height: 100vh;
  width: clamp(900px, 100vw, 100%);
}

/* ------------------------------- */
/* Overall content wrapper div  */
/* ------------------------------- */
.wrapper {
  padding: max(10px, 0.5%);
  height: max(100dvh, 100%);
  width: 100%;
  background-color: var(--prussian-blue);
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(600px, 6fr);
  grid-template-rows: minmax(600px, 1fr);
  gap: 5px;
}
/* ------------------------------- */

/* Sidebar content  */
/* ------------------------------- */
.sideContent {
  height: 100%;
  width: 100%;
  background-color: var(--prussian-blue);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: minmax(180px, 1fr) 6fr;
}

/* Top part  */

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  gap: 5%;
  padding: 10px;
  margin-bottom: 10px;
  border: 5px solid var(--rich-black);
  border-radius: 15px;
  background-color: var(--cerulean);
}

.user-info {
  display: flex;
  justify-content: start;
  gap: 5%;
}

.user-info .userName {
  font-size: clamp(2rem, 2vw, 2.3rem);
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
}

.userDesc {
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  border: 3px solid var(--rich-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userDesc p:last-child {
  font-size: clamp(1.3rem, 2vw, 1.5rem);
}

.userIcon {
  padding-left: 5px;
  width: clamp(60px, 5vw, 80px);
}

.searchLibrary {
  display: flex;
  align-items: center;
  gap: 5px;
}

.searchLibrary img {
  padding: 5px;
  width: clamp(30px, 2vw, 40px);
  border: 2px solid var(--rich-black);
  background-color: var(--picton-blue);
  border-radius: 50%;
}

.search {
  font-weight: 600;
  padding: 0 5px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  width: clamp(80%, 3vw, 100%);
  height: 25px;
}

.search:focus {
  border: 2px solid var(--rich-black);
}

/* Bottom part  */

.library {
  padding: 10px;
  border: 5px solid var(--rich-black);
  border-radius: 15px;
  background-color: var(--white);
}

.add {
  position: relative;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: clamp(5%, 1vw, 10%);
}

.add img {
  cursor: pointer;
  width: 35px;
}

.projects {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.projects > div {
  position: relative;
  user-select: none;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  gap: clamp(5px, 1.5vw, 10px);
}

.projects p {
  cursor: pointer;
  white-space: nowrap;
  border: 1px solid var(--rich-black);
  font-weight: 600;
  padding: 5px 10px;
  background-color: var(--picton-blue);
  border-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: clamp(120px, 10vw, 170px);
}

.actions {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  gap: clamp(5px, 2vw, 10px);
}

.projects img {
  cursor: pointer;
  width: clamp(15px, 1.5vw, 25px);
}

dialog:modal {
  overlay: none;
}

.addProject {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 30px;
  top: 2px;
}

.addProject > input {
  padding: 2px 5px;
  border-radius: 10px;
  border: 2px solid var(--rich-black);
  width: 100%;
  height: 100%;
}

.addProject img {
  width: 18px;
}

.addProjectActions {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.renameProject {
  background-color: var(--white);
  position: absolute;
  display: flex;
  height: 100%;
  gap: 5px;
}

.renameProject input {
  border: 2px solid var(--rich-black);
  padding-left: 10px;
  border-radius: 10px;
  width: 69%;
  height: 100%;
}

.renameActions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* ------------------------------- */

/* Main content  */
/* ------------------------------- */
.projectContent {
  border: 5px solid var(--rich-black);
  border-radius: 30px;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: minmax(150px, 1fr) 6fr;
  background-color: var(--white);
}

/* Top part  */

.info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 5px solid var(--white);
  background-color: var(--rich-black);
}

.noteSearch {
  display: flex;
  gap: 15px;
  flex-grow: 1;
  min-width: 400px;
  max-width: min(60%, 700px);
  height: 40px;
}

.noteSearch img {
  cursor: pointer;
  border: 2px solid var(--picton-blue);
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}

#addNoteBtn {
  border: none;
  padding: 0;
  width: 40px;
}

.addNote {
  background-color: var(--prussian-blue);
  padding: 10px;
  top: 40%;
  left: 40%;
  border-radius: 10px;
  width: 250px;
  height: 260px;
  overflow: hidden;
}

.addNote > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addNote input[type="image"] {
  border: 2px solid var(--rich-black);
  background-color: white;
  border-radius: 50%;
  width: 30px;
  padding: 3px;
}

.addNote input[type="text"] {
  font-weight: 600;
  padding-left: 10px;
  border-radius: 10px;
  height: 25px;
}

.addNote textarea {
  padding: 2px;
  border-radius: 5px;
}

.date {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
}

.date p {
  font-weight: 600;
}

.addNote input[type="date"] {
  border-radius: 10px;
  width: 150px;
  height: 25px;
  padding-left: 10px;
  align-self: center;
}

.addNote select {
  align-self: center;
  height: 30px;
  width: 80px;
}

.dialogActions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
}

.addNote select > option:first-child {
  height: 60px;
  background-color: red;
}

.addNote select > option:nth-child(2) {
  background-color: yellow;
}

.addNote select > option:nth-child(3) {
  background-color: greenyellow;
}
.addNote select > option:last-child {
  background-color: antiquewhite;
}

.renameNote {
  width: 250px;
  height: 220px;
}

.renameNoteActions {
  margin-top: 10px;
}

.noteSearchField {
  padding: 0 15px;
  font-size: 1.5rem;
  flex-grow: 1;
  border-radius: 15px;
}

.noteSearchField:focus {
  border: 2px solid var(--picton-blue);
}

/* Bottom part  */

.notes {
  display: flex;
  overflow: scroll;
  overflow-x: hidden;
  flex-wrap: wrap;
  gap: 10px;
  padding: 2%;
  height: fit-content;
}

.notes > div {
  width: 200px;
}

.notes > div > div:nth-child(2) {
  background-color: rgba(0, 166, 232, 0.1);
  border: 2px solid var(--rich-black);
  border-radius: 10px;
  margin-bottom: 4px;
  height: fit-content;
  width: 200px;
}

.noteActions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.noteActions img {
  cursor: pointer;
}

.noteActions > div {
  width: 15px;
  margin-right: auto;
}

.noteActions > div img {
  cursor: pointer;
}

.noteActions > img:first-child {
  margin-right: auto;
}

.notes img {
  width: 15px;
}

.noteTitle,
.noteFooter {
  height: 60px;
}

.noteTitle {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-bottom: 2px solid var(--rich-black);
}

.noteTitle p {
  hyphens: auto;
  text-align: center;
  font-size: 1.4rem;
  flex-grow: 1;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.noteFooter {
  display: grid;
  border-top: 0 solid black;
  grid-template-columns: 4fr 1fr;
  transition: border-top ease-in 0.4s;
}

.extra {
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 0px;
  padding: 0;
  transition: height ease 0.5s, padding 0.5s;
}

.description {
  text-align: center;
  word-break: whitespace;
  white-space: normal;
}

.extraList {
  align-self: flex-end;
}

.priority {
  border-radius: 0 0 8px 0;
  background-color: red;
  border-left: 2px solid var(--rich-black);
}

.priority select {
  width: 100%;
  height: 100%;
  /* border: 1px solid var(--rich-black); */
  border-radius: 0 0 8px 0;
  background-color: red;
  cursor: pointer;
}

.priority select > option:first-child {
  height: 60px;
  background-color: red;
}

.priority select > option:nth-child(2) {
  background-color: yellow;
}

.priority select > option:nth-child(3) {
  background-color: greenyellow;
}
.priority select > option:last-child {
  background-color: antiquewhite;
}

.dueDate {
  font-size: 1.2rem;
  font-weight: 600;
  justify-self: center;
  align-self: center;
}
